<section data-product-id="{{productId}}" class="product-summary">
  <div class="product-summary-image-frame">
    <img class="product-summary-image" src="{{image}}" alt="{{title}}">
  </div>
  <h2 class="product-summary-title">{{title}}</h2>
  <p class="product-summary-price">&pound;{{price}}</p>
</section>
