<section data-product-id="{{productId}}" class="product-summary">
  <a href="/product/{{productId}}" class="image-frame">
    <img src="{{image}}" alt="{{title}}">
  </a>
  <h2 class="product-title">{{title}}</h2>
  <p class="product-price">&pound;{{price}}</p>
</section>

