<section data-product-id="{{productId}}" class="product-summary">
  <div class="image-frame">
    <img src="{{image}}" alt="{{title}}">
  </div>
  <h2 class="product-title">{{title}}</h2>
  <p class="product-price">&pound;{{price}}</p>
</section>
