<h1>{{product.title}}</h1>
<div class="standard-product-container">
  <div class="carousel">
    <img src="{{product.images.[0]}}">
  </div>
  <p class="product-price">&pound;{{product.price}}</p>
  <p class="special-offers">{{product.displaySpecialOffer}}</p>
  <p class="included-services">{{product.includedServices}}</p>
  <div class="product-information">
    {{{product.productInformation}}}
  </div>
  <p class="product-code">{{product.code}}</p>
  <div class-"product-attributes">
    {{#product.attributes}}
      <p><span>{{name}}</span><span>{{value}}</span></p>
    {{/product.attributes}}
  </div>
</div>
